@model PetCenterClient.DTOs.FeedbackDTO
<link rel="stylesheet" href="~/css/feedback.css" />

<div class="container">

	<h2>Feedback Detail</h2>

	<p><b>Product:</b> @Model.ProductId</p>
	<p><b>Customer:</b> @Model.CustomerId</p>
	<p><b>Rating:</b> @Model.Rating ⭐</p>
	<p><b>Comment:</b> @Model.Comment</p>
	<p><b>Created Date:</b> @Model.CreatedDate</p>
	<p><b>Visible:</b> @Model.IsVisible</p>

	@if (Model.Reply != null)
	{
		<h3>Staff Reply</h3>

		<p>@Model.Reply</p>

		@if (Model.ReplyDate != null)
		{
			<p>Reply Date: @Model.ReplyDate</p>
		}

		<form method="post" action="/Feedback/DeleteReply">
			<input type="hidden" name="id" value="@Model.FeedbackId" />
			<button class="btn btn-delete">Delete Reply</button>
		</form>
	}
	else
	{
		<p>No reply yet.</p>

		<a class="btn btn-reply" href="/Feedback/Reply/@Model.FeedbackId">
			Reply now
		</a>
	}

	<br /><br />

	<a class="btn btn-back" href="/Feedback/AdminList">Back</a>

</div>