@model PetCenterClient.DTOs.FeedbackDTO

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Reply Feedback";
    var isUpdate = Model.Reply != null;
}

<div class="container mt-4">

    <h3>@(isUpdate ? "✏ Update Reply" : "💬 Reply Feedback")</h3>

    <div class="card shadow-sm mt-3">
        <div class="card-body">

            <p><b>Customer:</b> @Model.CustomerId</p>
            <p><b>Rating:</b> @Model.Rating ⭐</p>
            <p><b>Comment:</b> @Model.Comment</p>

        </div>
    </div>

    <form asp-action="Reply" method="post" class="mt-3">

        <input type="hidden" name="feedbackId" value="@Model.FeedbackId" />

        <div class="mb-3">
            <label class="form-label fw-bold">Reply</label>
            <textarea name="reply" rows="5"
                      class="form-control">@Model.Reply</textarea>
        </div>

        <button class="btn btn-success">
            @(isUpdate ? "Update Reply" : "Send Reply")
        </button>

        <a asp-action="AdminList" class="btn btn-secondary">Back</a>
    </form>

    <form asp-action="DeleteReply" method="post">
        <input type="hidden" name="id" value="@Model.FeedbackId" />
        <button class="btn btn-danger">Delete</button>
    </form>
</div>
