@model List<PetCenterClient.DTOs.FeedbackDTO>
<link rel="stylesheet" href="~/css/feedback.css" />

<div class="container">

	<h2>My Feedback</h2>

	<a class="btn btn-reply" href="/Feedback/Create">
		Create Feedback
	</a>

	<table>

		<tr>
			<th>Product</th>
			<th>Rating</th>
			<th>Comment</th>
			<th>Reply</th>
			<th>Date</th>
		</tr>

		@foreach (var f in Model)
		{
			<tr>

				<td>@f.ProductId</td>

				<td>@f.Rating ⭐</td>

				<td>@f.Comment</td>

				<td>

					@if (f.Reply != null)
					{
						@f.Reply
					}
					else
					{
						<span style="color:gray;">No reply yet</span>
					}

				</td>

				<td>@f.CreatedDate.ToString("dd/MM/yyyy")</td>

			</tr>
		}

	</table>

</div>