@model PetCenterClient.DTOs.CreateProductDTO

<style>

    .image-preview {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border: 2px dashed #ccc;
        cursor: pointer;
        border-radius: 8px;
    }

    .remove-image {
        position: absolute;
        top: -8px;
        right: -8px;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        padding: 0;
    }

</style>
<form method="post"
      enctype="multipart/form-data"
      asp-action="Create" asp-controller="Products">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">

        <div class="col-md-12 mb-3">
            <label asp-for="ProductName" class="form-label"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>

        <div class="col-md-12 mb-3">
            <label asp-for="ProductDescription"></label>
<textarea asp-for="ProductDescription"
          class="form-control"></textarea>
            <span asp-validation-for="ProductDescription" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="ProductPrice"></label>
            <input asp-for="ProductPrice"
                   type="number"
                   class="form-control" />
            <span asp-validation-for="ProductPrice" class="text-danger"></span>
        </div>


        <div class="col-md-6 mb-3">
            <label asp-for="BrandId"></label>
            <select asp-for="BrandId"
                    asp-items="@(ViewBag.Brands as SelectList)"
                    class="form-control">
                <option value="">-- Select Brand --</option>
            </select>
            <span asp-validation-for="BrandId" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId"
                    asp-items="@(ViewBag.Categories as SelectList)"
                    class="form-control">
                <option value="">-- Select Category --</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="col-md-12 mt-3">

            <label class="form-label">Attributes</label>

            <div id="attributeList">

                @if (Model?.Attributes != null)
                {
                    for (int i = 0; i < Model.Attributes.Count; i++)
                    {
                        <div class="row mb-2">

                            <div class="col-md-5">
                                <input class="form-control"
                                       value="@Model.Attributes[i].AttributeName"
                                       readonly />
                            </div>

                            <div class="col-md-7">

                                <input name="Attributes[@i].AttributeValue"
                                       value="@Model.Attributes[i].AttributeValue"
                                       class="form-control"
                                       placeholder="Enter value" />

                                <input type="hidden"
                                       name="Attributes[@i].CategoryAttributeId"
                                       value="@Model.Attributes[i].CategoryAttributeId" />

                            </div>

                        </div>
                    }
                }

            </div>

        </div>


    </div>

    <div class="col-md-12 mb-3">

        <label class="form-label">Product Images</label>

        <div id="imageList" class="d-flex flex-wrap gap-3">

            <div class="image-item position-relative">

                <input type="file"
                       name="ImageFiles"
                       accept="image/*"
                       hidden
                       onchange="previewSelectedImage(this,'preview_0')" />

                <img id="preview_0"
                     src="https://via.placeholder.com/120"
                     class="image-preview"
                     onclick="this.previousElementSibling.click()" />

                <button type="button"
                        class="btn btn-danger btn-sm remove-image"
                        onclick="removeImage(this)">
                    ✖
                </button>

            </div>

        </div>

        <button type="button"
                id="addImage"
                class="btn btn-success mt-2">
            + Add Image
        </button>

    </div>

    <button class="btn btn-primary">
        Create Product
    </button>

</form>


<script>



    let imageIndex = 1

    $(document).on("click", "#addImage", function () {

            const html = `
            <div class="image-item position-relative">

                <input type="file"
                       name="ImageFiles"
                       accept="image/*"
                       hidden
                       onchange="previewSelectedImage(this,'preview_${imageIndex}')"/>

                <img id="preview_${imageIndex}"
                     src="https://via.placeholder.com/120"
                     class="image-preview"
                     onclick="this.previousElementSibling.click()" />

                <button type="button"
                        class="btn btn-danger btn-sm remove-image"
                        onclick="removeImage(this)">
                    ✖
                </button>

            </div>
            `

            $("#imageList").append(html)

            imageIndex++

        })


        // LOAD CATEGORY ATTRIBUTES
    $(document).on("change","#CategoryId",function(){

            const categoryId = $(this).val()

            if (!categoryId) return

            $.get(`https://localhost:7004/api/Categories/${categoryId}/attributes`, function (data) {

                $("#attributeList").empty()

                let index = 0

                  data.forEach(attr => {

        const html = `
        <div class="row mb-2">

            <div class="col-md-5">
                <input class="form-control"
                       value="${attr.attributeName}"
                       readonly />
            </div>

            <div class="col-md-7">
                <input name="Attributes[${index}].AttributeValue"
                       class="form-control"
                       data-val="true"
                       data-val-required="Attribute value is required"
                       placeholder="Enter value"/>

                <span class="text-danger field-validation-valid"
                      data-valmsg-for="Attributes[${index}].AttributeValue"
                      data-valmsg-replace="true"></span>

                <input type="hidden"
                       name="Attributes[${index}].CategoryAttributeId"
                       value="${attr.categoryAttributeId}" />
            </div>

        </div>
        `

        $("#attributeList").append(html)

        index++
    })

    $.validator.unobtrusive.parse("#attributeList")
            })

        })

    // REMOVE IMAGE
    function removeImage(button){

        if($(".image-item").length <= 1){
            alert("Product must have at least 1 image")
            return
        }

        $(button).closest(".image-item").remove()

    }


    // PREVIEW IMAGE
    function previewSelectedImage(input, previewId){

        const file = input.files[0]

        if(!file) return

        const reader = new FileReader()

        reader.onload = function(e){

            document.getElementById(previewId).src = e.target.result

        }

        reader.readAsDataURL(file)

    }

</script>